

<!---
<%= render "shared/passcards" %>
--->


<%= render 'shared/show_carousel' %>

<div class = "container mt-3" >
  <div class="row">
    <div class="col-8">
      <h2><%= @listing.name %></h2>
          <ul style="list-style: none">
          <li>
          <i class="fas fa-cocktail"></i>
          <i class="fas fa-utensils"></i>
          <i class="fas fa-swimming-pool"></i>
          <i class="fas fa-hot-tub"></i>
          <i class="fas fa-dumbbell"></i>
          </li>
        </ul>


      <div class = "hotel-intro">
      <p><%= @listing.details %></p>
      </div>

      <div class = "day-pass">
        <% @listing.reservations.first.details.each do |list| %>
          <% if list.include?(":") %>
            <h5 class="mt-2"><%= list %></h5>
          <% else %>
            <li class="ml-5"><%= list %></li>
          <% end %>
        <% end %>
        <ul>
        </ul>
      </div>
      <div class="hours">
        <% @listing.hours.each do |hour| %>

          <% if hour.include?(":") %>
            <li class="ml-5"><%= hour %></li>
          <% else %>
            <h5 class="mt-2"><%= hour %></h5>
          <% end %>

        <% end %>
      </div>

      <div class="grey-box p-5 mb-3">
        <strong>How it works</strong>
            <p>1. Select number of people, an available day in the calendar, and book</p>
            <p>2. Receive booking confirmation with details and instructions</p>
            <p>3. Bring valid photo ID to hotel and check-in at the Hotel Concierge desk. You will receive a day use wristband.</p>
            <p>4. Enjoy your daycation!</p>
        <br>
        <strong>Cancellation Policy</strong>
        <p>To read our full cancellation policy, click here.</p>
        <br>
        <strong>Cancel Online</strong>
        <p>You can cancel your booking online for a full refund back to your original payment method or for ResortPass Credit to use another time. Bookings can be cancelled online up until the following times.</p>
        <p>Day Passes can be cancelled 24 hours before your booked date.</p>
        <p>Spa Passes can be cancelled 24 hours before your booked date.</p>
      </div>

    </div>
    <div class="col-4">
      <%= render "shared/passcards" %>
    </div>

    <div class="col-5 my-3">
      <%= render "shared/map" %>
    </div>
    <div class="col-3">
      <b>Address</b><br>
      <small><%= @listing.address %></small>
    </div>

  </div>
</div>

<%= render "shared/reviewcard" %>
