

<!---
<%= render "shared/passcards" %>
--->


<%= render 'shared/show_carousel' %>

<div class = "container mt-3" >
  <div class="row">
    <div class="col-8">
      <h2><%= @listing.name %></h2>
          <ul style="list-style: none">
          <li>
          <i class="fas fa-cocktail"></i>
          <i class="fas fa-utensils"></i>
          <i class="fas fa-swimming-pool"></i>
          <i class="fas fa-hot-tub"></i>
          <i class="fas fa-dumbbell"></i>
          </li>
        </ul>


      <div class = "hotel-intro">
      <p><%= @listing.details %></p>
      </div>

      <div class = "day-pass">
        <h2>Day Pass includes:</h2>
        <ul>
          <li>Outdoor rooftop pool</li>
          <li>Lounge chair (based on availability)</li>
          <li>Food and drinks available for purchase from Bluewater</li>
          <li>Towel service</li>
          <li>Changing rooms and lockers</li>
          <li>Fitness center</li>
          <li>Refreshing water station</li>
          <li>Complimentary wifi</li>
          <li>Discounted valet parking available for $12/day</li>
        </ul>
      </div>

      <div class = "spa-pass">
        <h2>Spa Pass includes:</h2>
        <p>Valued at $250</p>
        <ul>
          <li>Day Pass (all amenities included in the Day Pass)</li>
          <li>50-minute massage treatment at mySpa</li>
          <li>Relaxation room</li>
          <li>Steam room and sauna (temporarily closed)</li>
          <li>Complimentary glass of champagne</li>
          <li>Complimentary valet parking for up to 4 hours</li>
        </ul>
        <p>Instructions to schedule your treatment time will be provided after booking.</p>
      </div>

      <div class="grey-box">
        <strong>How it works</strong>
        <p>1. Select number of people, an available day in the calendar, and book</p>
        <p>2. Receive booking confirmation with details and instructions</p>
        <p>3. Bring valid photo ID to hotel and check-in at the Hotel Concierge desk. You will receive a day use wristband.</p>
        <p>4. Enjoy your daycation!</p>
        <br>
        <strong>Cancellation Policy</strong>
        <p>To read our full cancellation policy, click here.</p>
        <br>
        <strong>Cancel Online</strong>
        <p>You can cancel your booking online for a full refund back to your original payment method or for ResortPass Credit to use another time. Bookings can be cancelled online up until the following times.</p>
        <p>Day Passes can be cancelled 24 hours before your booked date.</p>
        <p>Spa Passes can be cancelled 24 hours before your booked date.</p>
      </div>

    </div>
    <div class="col-4">
      <%= render "shared/passcards" %>
    </div>

    <div class="col-5">
      <%= render "shared/map" %>
    </div>
    <div class="col-3">
      <b>Address</b><br>
      <small><%= @listing.full_address %></small>
    </div>

  </div>
</div>

    <%= render "shared/reviewcard" %>
<div class="container">
    <%= render "shared/footer" %>
</div>
