<div class="container">
  <h1>Booking at <%= @bookings.reservation.listing.name %></h1>
  <div class="card-trip">
  <img src="https://source.unsplash.com/random/?resort" />
  <div class="card-trip-infos">
    <div>
      <h2>Booked on <%= @bookings.booking_date  %></h2>
      <p>Address: <%= "#{@bookings.full_address}" %></p>
      <p><u>Total Pax</u></p>
      <p>Adult: <%= @bookings.no_of_adult %></p>
      <p>Child: <%= @bookings.no_of_child %></p>
      <%= link_to "Leave a Review", new_listing_review_path(@bookings)  %>
    </div>
    <h2 class="card-trip-pricing">$<%= @bookings.total_price %></h2>
  </div>
</div>

</div>
