<div class="container-fluid">
    <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="9000">
        <div class="carousel-inner row w-10 mxauto" role="listbox">
            <div class="carousel-item col-md-4 active">
                <img class="img-fluid mx-1 d-bloc" src="https://picsum.photos/1920/1080?<%= @listing.name.gsub(" ","-") %>,1" alt="slide 1">
            </div>
            <% 7.times do |n| %>
            <div class="carousel-item col-md-4">
                <img class="img-fluid mx-1 d-block" src="https://picsum.photos/1920/1080?<%= @listing.name.gsub(" ","-") %>,<%= n + 1 %>" alt="slide <%= n + 1 %>">
            </div>
            <% end %>
        </div>
        <a class="carousel-control-prev control-bg" href="#carouselExample" role="button" data-slide="prev">
            <i class="fa fa-chevron-left fa-lg text-muted"></i>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next control-bg text-faded" href="#carouselExample" role="button" data-slide="next">
            <i class="fa fa-chevron-right fa-lg text-muted"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<!--"https://source.unsplash.com/1920x1080/?<%= @listing.name %>resort"-->
