<div class="container logos">
  <div class="row row-cols-6">
    <div class="col">
      <img src="<%= asset_path('hotel_logos/01-hyatt.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/02-westin.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/03-JWMarriot.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/04-ritz.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/05-w.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/06-fairmont.png') %>" alt="">
    </div>
  </div>
  <div class="row row-cols-6">
    <div class="col">
      <img src="<%= asset_path('hotel_logos/07-fourS.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/08-hilton.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/09-bvlgari.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/10-sheraton.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/11-stregis.png') %>" alt="">
    </div>
    <div class="col">
      <img src="<%= asset_path('hotel_logos/12-srl.png') %>" alt="">
    </div>
  </div>
</div>
