<div class="card text-black mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= @listing.reservations.first.type.split("P").join(" P") %></div>
  <div class="card-body">
    <% @listing.reservations.each do |pass| %>
    <div class="div">
        <h5 class="card-title">Adult</h5>
        <p class="card-text">$<%= pass.adult_price %></p>
        <h5 class="card-title">Child</h5>
        <p class="card-text">$<%= pass.child_price %></p>
    </div>
    <% end %>
  </div>
</div>


<%= simple_form_for [@listing, @booking] do |f| %>
  <%= f.input :booking_date, as: :date %>
  <%= f.input :no_of_adult, as: :integer %>
  <%= f.input :no_of_child, as: :integer %>
  <%= f.hidden_field :reservation_id, value: @reservation.id %>
  <%= f.submit :create_booking %>
<% end %>
