<div class="container">

  <% if params.include?("format") %>
      <% @listings.each do |listing| %>
        <div class="card-product my-3" style="border-radius: 1rem;">
          <img src="https://source.unsplash.com/400x300/?<%= listing.city%>,resort" />
          <div class="card-product-infos">
            <h2><%= listing.name %><span class=""></h2>
            <small><%= listing.city %></small>
            <p><%= listing.details %></p>
            <%= link_to "View", listing_path(listing) , class:"btn btn-info my-2"%>
          </div>
        </div>
      <% end %>
  <% elsif params[:search].include?(:name) %>
    <% if @listings.empty? %>
      <h4 class="mt-2">Your search for '<%= params["search"]["name"].capitalize %>' returned no result.</h4>
    <% else %>
      <h4 class="mt-2">Your search for '<%= params["search"]["name"].capitalize %>' returned <%= @listings.count %> results.</h4>
      <% @listings.each do |listing| %>
      <div class="card-product my-3" style="border-radius: 1rem;">
        <img src="https://source.unsplash.com/400x300/?<%= listing.city%>,resort" />
        <div class="card-product-infos">
          <h2><%= listing.name %><span class=""></h2>
          <small><%= listing.city %></small>
          <p><%= listing.details %></p>
          <%= link_to "View", listing_path(listing) , class:"btn btn-info my-2"%>
        </div>
      </div>
      <% end %>
    <% end %>
  <% end %>


</div>
