<div class="title-banner">
  <h1 class="text-center">Get pool, spa, and amenity access <span style="color: #00c2d1;">at luxurious hotels</span></h1>
</div>
<%= render 'shared/searchbar' , class:"search-bar text-center"%>
<%= render 'shared/banner' %>
<%= render 'shared/logos' %>
<h2 class="text-center my-5 font-weight-bolder">Explore <span>Locations</span></h2>
<div class="container">
  <%= render 'shared/cards'%>
</div>
<h2 class="text-center my-5 font-weight-bolder">Popular <span>Locations</span></h2>
<div class="container">
  <%= render 'shared/popular' %>
</div>
<%= render 'shared/footer' %>
